---
## Controls Files.
# These are YAML files that hold all the details for running checks.
#
## Uncomment to use different control file paths.
# masterControls: ./cfg/master.yaml
# nodeControls: ./cfg/node.yaml

master:
  components:
    - apiserver
    - scheduler
    - controllermanager
    - etcd
    - flanneld
    # kubernetes is a component to cover the config file /etc/kubernetes/config that is referred to in the benchmark
    - kubernetes

  kubernetes:
    defaultconf: /etc/kubernetes/config

  apiserver:
    bins:
      - "kube-apiserver"
      - "hyperkube apiserver"
      - "hyperkube kube-apiserver"
      - "apiserver"
      - "containerd"
    confs:
      - /etc/kubernetes/manifests/kube-apiserver.yaml
      - /etc/kubernetes/manifests/kube-apiserver.manifest
      - /var/snap/kube-apiserver/current/args
      - /var/lib/rancher/rke2/agent/pod-manifests/kube-apiserver.yaml
    defaultconf: /etc/kubernetes/manifests/kube-apiserver.yaml

  scheduler:
    bins:
      - "kube-scheduler"
      - "hyperkube scheduler"
      - "hyperkube kube-scheduler"
      - "scheduler"
      - "containerd"
    confs:
      - /etc/kubernetes/manifests/kube-scheduler.yaml
      - /etc/kubernetes/manifests/kube-scheduler.manifest
      - /var/snap/kube-scheduler/current/args
      - /var/lib/rancher/rke2/agent/pod-manifests/kube-scheduler.yaml
    kubeconfig:
      - /var/lib/rancher/k3s/server/cred/scheduler.kubeconfig
      - /var/lib/rancher/rke2/server/cred/scheduler.kubeconfig
    defaultconf: /etc/kubernetes/manifests/kube-scheduler.yaml

  controllermanager:
    bins:
      - "kube-controller-manager"
      - "kube-controller"
      - "hyperkube controller-manager"
      - "hyperkube kube-controller-manager"
      - "controller-manager"
      - "containerd"
    confs:
      - /etc/kubernetes/manifests/kube-controller-manager.yaml
      - /etc/kubernetes/manifests/kube-controller-manager.manifest
      - /var/snap/kube-controller-manager/current/args
      - /var/lib/rancher/rke2/agent/pod-manifests/kube-controller-manager.yaml
    kubeconfig:
      - /var/lib/rancher/k3s/server/cred/controller.kubeconfig
      - /var/lib/rancher/rke2/server/cred/controller.kubeconfig
    defaultconf: /etc/kubernetes/manifests/kube-controller-manager.yaml

  etcd:
    optional: true
    bins:
      - "etcd"
    datadirs:
      - /var/lib/rancher/k3s/server/db/etcd
      - /var/lib/rancher/rke2/server/db/etcd
    confs:
      - /etc/kubernetes/manifests/etcd.yaml
      - /etc/kubernetes/manifests/etcd.manifest
      - /etc/etcd/etcd.conf
      - /var/snap/etcd/common/etcd.conf.yml
      - /var/lib/rancher/k3s/server/db/etcd/config
      - /var/lib/rancher/rke2/agent/pod-manifests/etcd.yaml
    defaultconf: /etc/kubernetes/manifests/etcd.yaml

  flanneld:
    optional: true
    bins:
      - flanneld
    defaultconf: /etc/sysconfig/flanneld

node:
  components:
    - kubelet
    - proxy
    # kubernetes is a component to cover the config file /etc/kubernetes/config that is referred to in the benchmark
    - kubernetes

  kubernetes:
    defaultconf: "/etc/kubernetes/config"

  kubelet:
    cafile:
      - "/etc/kubernetes/pki/ca.crt"
      - "/etc/kubernetes/certs/ca.crt"
      - "/etc/kubernetes/cert/ca.pem"
      - "/etc/kubernetes/ssl/kube-ca.pem"
      - "/var/lib/rancher/rke2/agent/server.crt"
      - "/var/lib/rancher/rke2/agent/client-ca.crt"
      - "/var/lib/rancher/k3s/agent/client-ca.crt"
    svc:
      # These paths must also be included
      #  in the 'confs' property below
      - "/etc/systemd/system/kubelet.service.d/10-kubeadm.conf"
      - "/etc/systemd/system/kubelet.service"
      - "/lib/systemd/system/kubelet.service"
      - "/etc/systemd/system/snap.kubelet.daemon.service"
    bins:
      - "hyperkube kubelet"
      - "kubelet"
      - "containerd"
    kubeconfig:
      - "/etc/kubernetes/kubelet.conf"
      - "/var/lib/kubelet/kubeconfig"
      - "/etc/kubernetes/kubelet-kubeconfig"
      - "/etc/kubernetes/ssl/kubecfg-kube-node.yaml"
      - "/var/lib/rancher/rke2/agent/kubelet.kubeconfig"
      - "/var/lib/rancher/k3s/agent/kubelet.kubeconfig"
    confs:
      - "/var/lib/kubelet/config.yaml"
      - "/etc/kubernetes/kubelet/kubelet-config.json"
      - "/home/kubernetes/kubelet-config.yaml"
      - "/etc/default/kubelet"
      - "/var/lib/kubelet/kubeconfig"
      - "/var/snap/kubelet/current/args"
      ## Due to the fact that the kubelet might be configured
      ## without a kubelet-config file, we use a work-around
      ## of pointing to the systemd service file (which can also
      ## hold kubelet configuration).
      ## Note: The following paths must match the one under 'svc'
      - "/etc/systemd/system/kubelet.service.d/10-kubeadm.conf"
      - "/etc/systemd/system/kubelet.service"
      - "/lib/systemd/system/kubelet.service"
      - "/etc/systemd/system/snap.kubelet.daemon.service"
    defaultconf: "/var/lib/kubelet/config.yaml"
    defaultsvc: "/etc/systemd/system/kubelet.service.d/10-kubeadm.conf"
    defaultkubeconfig: "/etc/kubernetes/kubelet.conf"
    defaultcafile: "/etc/kubernetes/pki/ca.crt"

  proxy:
    optional: true
    bins:
      - "kube-proxy"
      - "hyperkube proxy"
      - "hyperkube kube-proxy"
      - "proxy"
      - "containerd"
    confs:
      - /etc/kubernetes/proxy
      - /etc/kubernetes/addons/kube-proxy-daemonset.yaml
      - /var/snap/kube-proxy/current/args
    kubeconfig:
      - /etc/kubernetes/kubelet-kubeconfig
      - /etc/kubernetes/ssl/kubecfg-kube-proxy.yaml
      - /var/lib/rancher/rke2/agent/kubeproxy.kubeconfig
      - /var/lib/rancher/k3s/agent/kubeproxy.kubeconfig
    svc:
      - "/lib/systemd/system/kube-proxy.service"
    defaultconf: /etc/kubernetes/addons/kube-proxy-daemonset.yaml
    defaultkubeconfig: "/etc/kubernetes/proxy.conf"

etcd:
  components:
    - etcd

  etcd:
    bins:
      - "etcd"
      - "containerd"
    datadirs:
      - /var/lib/rancher/k3s/server/db/etcd
      - /var/lib/rancher/rke2/server/db/etcd
    confs:
      - /etc/kubernetes/manifests/etcd.yaml
      - /etc/kubernetes/manifests/etcd.manifest
      - /etc/etcd/etcd.conf
      - /var/snap/etcd/common/etcd.conf.yml
      - /var/lib/rancher/k3s/server/db/etcd/config
      - /var/lib/rancher/rke2/server/db/etcd/config
    defaultconf: /etc/kubernetes/manifests/etcd.yaml

controlplane:
  components:
    - apiserver

  apiserver:
    bins:
      - "kube-apiserver"
      - "hyperkube apiserver"
      - "hyperkube kube-apiserver"
      - "apiserver"
      - "containerd"

policies:
  components: []


managedservices:
  components: []

# TODO: Clean up in the next refactor
version_mapping:
  "rke-1.13":
    - "rke-cis-1.4"
  "rke-1.14":
    - "rke-cis-1.4"
  "rke-1.15":
    - "rke-cis-1.5-permissive"
  "rke-1.16":
    - "rke-cis-1.6-permissive"
  "rke-1.17":
    - "rke-cis-1.6-permissive"
  "rke-1.18":
    - "rke-cis-1.6-permissive"
  "rke-1.19":
    - "rke-cis-1.20-permissive"
  "rke-1.20":
    - "rke-cis-1.20-permissive"
  "v1.18.10+rke2r1":
    - "rke2-cis-1.5-hardened"
    - "rke2-cis-1.5-permissive"
  "eks-1.2.0":
    - "eks-1.2.0"
  "gke-1.2.0":
    - "gke-1.2.0"
  "aks-1.0":
    - "aks-1.0"
  "v1.20.5+rke2r1":
    - "rke2-cis-1.6-hardened"
    - "rke2-cis-1.6-permissive"
  "v1.20.5+k3s1":
    - "k3s-cis-1.6-hardened"
    - "k3s-cis-1.6-permissive"

target_mapping:
  # EKS
  "eks-1.2.0":
    - "node"
  # GKE
  "gke-1.2.0":
    - "node"
  # AKS
  "aks-1.0":
    - "node"

  # CIS - Generic profiles
  "cis-1.4":
    - "master"
    - "node"
    - "etcd"
  "cis-1.5":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "cis-1.6":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "cis-1.20":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "cis-1.23":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "cis-1.24":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "cis-1.7":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "cis-1.8":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"

  # RKE1
  # rke1: Generic
  "rke-cis-1.4":
    - "master"
    - "node"
    - "etcd"
  # rke1: Permissive
  "rke-cis-1.5-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.6-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.20-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.23-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.24-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.7-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.8-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  # rke1 : Hardened
  "rke-cis-1.5-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.6-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.20-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.23-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.24-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.7-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke-cis-1.8-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"

  # RKE2
  # rke2: Generic
  # rke2: Permissive
  "rke2-cis-1.5-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.6-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.20-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.23-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.24-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.7-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.8-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  # rke2: Hardened
  "rke2-cis-1.5-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.6-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.20-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.23-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.24-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.7-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "rke2-cis-1.8-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"

  # K3S
  # k3s: Generic
  # k3s: Permissive
  "k3s-cis-1.6-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.20-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.23-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.24-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.7-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.8-permissive":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  # k3s: Hardened
  "k3s-cis-1.6-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.20-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.23-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.24-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.7-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
  "k3s-cis-1.8-hardened":
    - "master"
    - "node"
    - "controlplane"
    - "etcd"
    - "policies"
