name: Tests

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version: 1.25
    - run: make validate

  test:
    strategy:
      fail-fast: false
      matrix:
        # Run tests across all platforms, to ensure developers
        # can use any environment to run basic tests.
        platform: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.platform }}
    needs: [ validate ]

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version: 'stable'
  
    - run: make test
    - name: Verify licenses
      run: |
        go install github.com/google/go-licenses@latest
        go-licenses check ./... --allowed_licenses=Apache-2.0,MIT,BSD-3-Clause

  e2e:
    strategy:
      fail-fast: false
      matrix:
        k8s-version: [v1.33.0, v1.34.0, v1.35.0]
        platform: [ubuntu-latest]
    
    runs-on: ${{ matrix.platform }}
    needs: [ validate ]

    steps:
    - name: Setup QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: E2E Tests
      env:
        KUBERNETES_VERSION: ${{ matrix.k8s-version }}
      run: make e2e

  build-image:
    runs-on: ubuntu-latest
    needs: [ validate ]

    steps:
    - name: Setup QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
  
    - name: Image build
      run: make test-image
